# main frameworks

Django>=4.0,<4.1
wagtail>=3.0,<3.1


# database
dj-database-url  # for common database configuration
psycopg2  # postgres database driver

# i18n
django-modeltranslation  # translation module
django-rosetta  # translation editor for locales

# Wagtail plugins
wagtail-localize

# REST API
djangorestframework
markdown
django-filter
django-rest-swagger
django-oauth-toolkit
drf-yasg[validation]


# helpers
django-extensions  # common django toolbox
Werkzeug  # debugger for django-extensions runserver_plus
beret_utils >= 0.4.7  # personal toolbox, version 0.4.5 or above
django-environ  # env variables managing